[submodule "seoul256.vim"]
	path = seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
